body {
    color:#333;
    padding:0px;
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
}
input {
    width:300px;
    height:28px;
    border: 1px solid #95E0EF;
    /*background-color:#f3fcfe;*/
    border-left-width:2px;
    padding:0px 0 0 2px;
    float:left;
}

.title {
	background: url("../images/title_jx.png") no-repeat scroll left top transparent;
	border-bottom: 1px solid #5C990A;
	height: 50px;
	line-height: 50px;
	padding-right: 25px;
	text-align: right;
	position: relative;
}
.form_content{
    width:575px;
    margin:30px auto;
    padding:10px;
}
fieldset{
    border:1px #ebebeb solid;
    padding:15px 10px 15px 10px;
    margin:0 0 10px 0;
}
legend{
    color:#FFFFFF;
    background-color:#0fcdf6;
    padding:2px 5px 2px 5px;
}
legend.optional{
    color:#FFFFFF;
    background-color:#50c150;
    padding:2px 5px 2px 5px;
}


.form-row {
    clear: both;
    float:left;
    padding:5px 5px 5px 5px;
}
.form-row-select {
    clear: both;
    float:left;
    padding:10px 5px 5px 5px;
}
.field-label {
    width:110px;
    float:left;
    line-height:25px;
}
label {
    float:left;
    color:#666666;
    /*margin-top: 15px;*/
}
label.left{
    padding:0 20px 0 5px;
    float:left;
    color:#666666;
}
.field-widget {
    float:left;
}
input.required{
    width:300px;
    height:22px;
    border: 1px solid #95E0EF;
    /*background-color:#f3fcfe;*/
    border-left-width:2px;
    padding:5px 0 0 2px;
    float:left;
}
input.optional{
    width:300px;
    height:22px;
    border: 1px solid #adedad;
    background-color:#f3fef3;
    border-left-width:2px;
    padding:5px 0 0 2px;
}
select.validate-selection{
    width:305px;
    height:28px;
    border: 1px solid #95E0EF;
    /*background-color:#f3fcfe;*/
    border-left-width:2px;
    padding:4px 2px 3px 2px;
    float:left;
}
textarea.required{
    width:450px;
    height:100px;
    float:left;
    border: 1px solid #95E0EF;
    /*background-color:#f3fcfe;*/
    border-left-width:2px;
}
textarea.optional{
    width:520px;
    height:100px;
    border: 1px solid #95E0EF;
    background-color:#f3fef3;
    border-left-width:2px;
}

input.submit{
    color:#f3fcfe;
    background-color:#50c150;
    padding:2px 5px 2px 5px;
    cursor:pointer;
    border:none;
    margin-left:40% ;
    /*margin-right:auto ;*/
    width:20%;
}


input.validation-failed, textarea.validation-failed, select.validation-failed {
border: 1px solid #FF9A7F;
background-color:#FFF2EF;
color : #FF3300;
}
input.validation-passed, textarea.validation-passed {
border: 1px solid #00CC00;
color : #000;
}

.validation-advice {
width:50px;
float:left;
margin:0px 0 0 10px;
padding:0px 0 0 25px;
background:url(images/warning.png) no-repeat left;
color:#FF9A7F;
font-size:10px;
}

.custom-advice {
margin: 5px 0;
padding: 5px;
background-color: #C8AA00;
color : #FFF;
font-weight: bold;
}
.ul-about li{
	float: left;
	width: 33.333%;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	color: #666;
}
.ul-about li h3{
	font-size: 24px;
	color: #002;
	line-height: 36px;
}
.ul-about li em{
	display: inline-block;
	width: 95px;
	height: 0;
	border-bottom: 1px solid #7f7f90;
	margin-bottom: 20px;
	margin-top: 25px;
}
.ul-about li .block{
	position: relative;
	height: 235px;
	margin: 0 auto;
}
.ul-about li .block img{
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity= 0)';
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.ul-about li.li1 .block{
	width: 150px;
}
.ul-about li.li2 .block{
	width: 215px;
}
.ul-about li.li3 .block{
	width: 252px;
}
.ul-about li.li1 .block,.ul-about li.li2 .block{
	padding-top: 30px;
}






