<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>安远-坐享脐橙网-关于我们</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta name="full-screen" content="yes">
    <link rel="stylesheet" href="http://www.jsdaima.com/Upload/1459146325/Css/cui.css">
    <link rel="stylesheet" href="http://www.jsdaima.com/Upload/1459146325/Css/style.css">
    <link rel="stylesheet" href="http://www.jsdaima.com/Upload/1459146325/Css/less.css">
<body style="background-color: rgb(204, 232, 207);">
<div class="wp" id="whous">

    <div class="tit-i">
        <h3>关于我们</h3>
        <h5>ABOUT <span>US</span></h5>
    </div>
    <div class="about-info" style="text-align: left;">
	<p class="text-justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;思恩是由从事多年互联网界研究的海外归国人员于2007年创办，拥有强大的运营团队和技术团队，专注于高端网站定制、企业网站建设、手机移动网站建设、手机APP定制开发、应用系统开发等，为企业提供全球化互联网解决方案。<br></p>
	<p class="text-left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司自创立以来，已成功为500多家企事业单位、政府机关提供过高端互联网服务，其中包括中软集团、大众汽车、思科、中国银行、华夏银行、中赫集团、碧生源、朗波尔、凤凰瑜伽、华夏银行、华夏典当行、华胜天成、宝瑞通典当行、传媒大学、中粮集团、国际安全信息中心、国家经济中心、国家统计局、等等。<br></p>
	<p class="text-left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;对思恩来说，客户是具有排他性、唯一性的。我们强调个性定制化的方式与您沟通，通过创意、新技术新媒体的结合运用，为您提供整合的解决方案与全方位的视觉传播服务。<br>
    <p class="text-left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;思恩洞悉中国互联网发展轨迹的同时，以最为专业的网络新思维去深入思考网络在中国企业、中国互联网运营商以及网民中的真正价值，坚定不移的扛起中国网络创新的大旗，致力于揭开网络应用的新篇章！<br></p>
    </div>
    <ul class="ul-about ul-show">
        <li class="li1" style="margin: 0px;padding: 0">
            <div class="block">
                <img src="http://www.jsdaima.com/Upload/1459146325/Picture/c1.png" alt="网博思创" style="opacity: 1;">
                <img src="http://www.jsdaima.com/Upload/1459146325/Picture/c2.png" alt="" style="opacity: 1;">
                <img src="http://www.jsdaima.com/Upload/1459146325/Picture/c3.png" alt="" style="opacity: 1;">
                <img src="http://www.jsdaima.com/Upload/1459146325/Picture/c4.png" alt="" style="opacity: 1;">
                <img src="http://www.jsdaima.com/Upload/1459146325/Picture/c5.png" alt="" style="opacity: 1;">
                <img src="http://www.jsdaima.com/Upload/1459146325/Picture/c6.png" alt="" style="opacity: 1;">
                <img src="http://www.jsdaima.com/Upload/1459146325/Picture/c7.png" alt="" style="opacity: 1;">
                <img src="http://www.jsdaima.com/Upload/1459146325/Picture/c8.png" alt="" style="opacity: 1;">
            </div>
            <div class="c"></div>
            <h3>量身打造</h3>
            <em></em>
            <!--<p>根据用户的需求、市场状况、企业情况提供专业化的网<br />站策划、设计、技术和营销解决方案。</p>-->
            <p>
                针对不同企业状况、客户特殊需求等量身打造，从专业化的建站方案定制<span>，独一无二的视觉效果设计，到易于SEO优化的规范化代码编写，易于操作的人性化管理后台，无不体现“定制”的意义。</span>
            </p>				</li>
        <li class="li2" style="margin: 0px;padding: 0">
            <div class="block">
                <img src="http://www.jsdaima.com/Upload/1459146325/Picture/t1.png" alt="" data-top-center="background-position:0px 0px;" data-bottom-center="background-position:141px 0px;" style="opacity: 1;">
                <img src="http://www.jsdaima.com/Upload/1459146325/Picture/t2.png" alt="网博思创" style="opacity: 1;">
                <img src="http://www.jsdaima.com/Upload/1459146325/Picture/t3.png" alt="" style="opacity: 1;">
                <img src="http://www.jsdaima.com/Upload/1459146325/Picture/t4.png" alt="" style="opacity: 1;">
                <img src="http://www.jsdaima.com/Upload/1459146325/Picture/t5.png" alt="" style="opacity: 1;">
                <img src="http://www.jsdaima.com/Upload/1459146325/Picture/t6.png" alt="" style="opacity: 1;">
                <img src="http://www.jsdaima.com/Upload/1459146325/Picture/t7.png" alt="" style="opacity: 1;">
                <img src="http://www.jsdaima.com/Upload/1459146325/Picture/t8.png" alt="" style="opacity: 1;">
                <img src="http://www.jsdaima.com/Upload/1459146325/Picture/t9.png" alt="" style="opacity: 1;">
            </div>
            <div class="c"></div>
            <h3>领先设计</h3>
            <em></em>
            <p >
                <span>为客户定制适合自己的互联网形象，</span>
            </p>
            <p>
                <span>尊重访问者视觉体验和浏览习惯，用户体验友好，</span>
            </p>
            <p>
                注重信息<span>架构分析，界面设计、互动设计和</span>
            </p>
            <p>
                <span>内容制作，为客户提供</span><span>高价值的平台。</span>
            </p>
            <p>
	<span><br>
</span>
            </p>				</li>
        <li class="li3" style="margin: 0px;padding: 0">
            <div class="block">
                <img src="http://www.jsdaima.com/Upload/1459146325/Picture/b1.png" alt="webthink" style="opacity: 1;">
                <img src="http://www.jsdaima.com/Upload/1459146325/Picture/b2.png" alt="" style="opacity: 1;">
                <img src="http://www.jsdaima.com/Upload/1459146325/Picture/b3.png" alt="" style="opacity: 1;">
                <img src="http://www.jsdaima.com/Upload/1459146325/Picture/b4.png" alt="" style="opacity: 1;">
            </div>
            <div class="c"></div>
            <h3>全网开发</h3>
            <em></em>

            <p>
                <span>全网是一个新概念，是互联网时代的必然产物，</span><span>更是企业在未来几年内的生存之道。</span><span>思恩</span><span>为客户提供全方位全网开发。</span><span>网站建设、微站设计、微信</span><span>公众平台开发，同时完整的将互联</span><span>网各平台结合，实现一站式管理。</span>
            </p>
            <p>
                <br>
            </p>
            <p>
            </p>				
			</li>
    </ul>
</div>

</div>

</body></html>