{% extends "base.html" %}
{% load staticfiles %}
{% block title %}安远-坐享脐橙网首页{% endblock %}
{% block content %}
    <div class="bannbg">
  <div class="banner">
    <div class="quicknav">
	<!--<span class="quktit">坐享脐橙网主营赣南安远地区脐橙批发采购中介服务<br>让您的脐橙批发采购批发无后顾之忧&nbsp;并可为您提供纸<br>箱、塑料篓、专业物流等服务&nbsp;真正做到让您坐享脐橙</span>-->

	<span class="quktit"></span>

    </div>
    <div class="quilink"> <a class="a1" href="{% url 'sell_info:add_sell_info' %}"></a>
        <a class="a2" href="{% url 'xuqiu_info:add_xuqiu_info' %}"></a>
        <a class="a3" href="#"></a> </div>
  </div>
</div>
<div class="container">
  <div class="conlinone">
    <div class="zncompan">
      <h1>批发</h1>
      <ul>
        <li><a href="#">富安达运输有限公富安达运输有限公司富安达运输有限公司司</a></li>
        <li><a href="#">福特嘉年华两厢</a></li>
        <li><a href="#">广州星海益达运输有限责任公司</a></li>
        <li><a href="#">富安达运输有限公司</a></li>
		<li><a href="#">富安达运输有限公司</a></li>
		<li><a href="#">富安达运输有限公司</a></li>
		<li><a href="#">富安达运输有限公司</a></li>
		<li><a href="#">富安达运输有限公司</a></li>
		<li><a href="#">富安达运输有限公司</a></li>
		<li><a href="#">富安达运输有限公司</a></li>
      </ul>
      <span class="qukmore_sec"><a href="{% url 'sell_info:sell_info_page' %}">更多 &gt;&gt;</a></span> </div>
    <div class="zncompan">
      <h1>采购</h1>
      <ul>
        <li><a href="#">富安达运输有限公司</a></li>
        <li><a href="#">福特嘉年华两厢</a></li>
        <li><a href="#">广州星海益达运输有限责任公司</a></li>
        <li><a href="#">宝马530豪华配置带天窗530S宝马530豪华配置带天窗530S</a></li>
		<li><a href="#">宝马530豪华配置带天窗530S宝马530豪华配置带天窗530S</a></li>
		<li><a href="#">宝马530豪华配置带天窗530S宝马530豪华配置带天窗530S</a></li>
		<li><a href="#">宝马530豪华配置带天窗530S宝马530豪华配置带天窗530S</a></li>
		<li><a href="#">宝马530豪华配置带天窗530S宝马530豪华配置带天窗530S</a></li>
		<li><a href="#">宝马530豪华配置带天窗530S宝马530豪华配置带天窗530S</a></li>
		<li><a href="#">宝马530豪华配置带天窗530S宝马530豪华配置带天窗530S</a></li>
      </ul>
      <span class="qukmore_sec"><a href="{% url 'sell_info:sell_info_page' %}">更多 &gt;&gt;</a></span> </div>
    <div class="zncompan_thr">
      <h1>业务介绍</h1>
      <div class="ywzs">
		<img src="{% static '/images/abimg.jpg' %}" alt="" title="" />
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;汽车服务网站平台提供各种汽车保养和维修汽车服务网站平台提供各种汽车保养和维修套餐及服务网站汽车服务网站平台提供各种汽车保养和维修套餐及服务网站会员可汽车服务网站平台提供各种汽车保养和维修套餐及服务网站汽车服务网站平台提供各种汽车保养和汽车服务网站平台提供各种汽车保养和维修套餐及服务网站汽车服务网站平台提供各种汽车维修套餐及服务网站汽车服务网站平台提供各种汽车</p>
        <!--
		<p class="ywzsdes">汽车服务网站平台提供各种汽车保养和维修套餐及服务网站汽车服务网站平台提供各种汽车保养和维修套餐及服务网站会员可通过平台定制自己需要的服务。同时，网站平台定期推出各种优惠活动，敬请广大用户关会员可通过平台定制自己需要的服务。同时，网站平台定期推出各种优惠活的服务。同时，网站平台定期推出各种优惠活动，敬请广大用户关注的服务。同时，网站平台定期推出各种优惠活动，敬请广大用户关注动，敬请广大用户关注</p>
		-->
        <span class="qukmore_sec"><a href="#">更多 &gt;&gt;</a></span> </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="copyrights">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
  <div class="conlintwo">
    <div class="contwotit">
      <h3>中间产品<a class="rmtjmore" href="#">更多 &gt;&gt;</a></h3>

    </div>
    <div class="contwonr">
      <ul>

        <li><a href="#"><img src="{% static '/images/pro1.jpg' %}" alt="" title="" /></a> <a href="#">
          <h3 class="slvh">水果纸箱特硬脐橙包装盒5 10斤装赣南脐橙快递箱现货</h3>
          </a> </li>
        <li><a href="#"><img src="{% static '/images/pro2.jpg' %}" alt="" title="" /></a> <a href="#">
          <h3 class="slvh">厂家现货手提赣南脐橙礼盒 橙子包装箱 8-10斤左右橙子礼盒纸箱</h3>
          </a> </li>
        <li><a href="#"><img src="{% static '/images/pro3.jpg' %}" alt="" title="" /></a> <a href="#">
          <h3 class="slvh">通用水果包装箱礼品盒5斤装8斤装脐橙纸箱橙子礼盒苹果包装纸盒子</h3>
          </a> </li>
        <li><a href="#"><img src="{% static '/images/pro4.jpg' %}" alt="" title="" /></a> <a href="#">
          <h3 class="slvh">新款橙子包装盒 纸箱10斤脐橙17.5度彩印手提包装箱子批发定制</h3>
          </a> </li>
        <li><a href="#"><img src="{% static '/images/pro5.jpg' %}" alt="" title="" /></a> <a href="#">
          <h3 class="slvh">10斤装橘子冰糖橙赣南脐橙纸箱包装礼品箱/橙子水果礼盒现货包邮</h3>
          </a> </li>
        <li><a href="#"><img src="{% static '/images/pro6.jpg' %}" alt="" title="" /></a> <a href="#">
          <h3 class="slvh">水果防震水果网套加厚泡沫包装枇杷脐橙鸡蛋草莓网兜网袋桃子</h3>
          </a> </li>
      </ul>
    </div>
  </div>
  <div class="conlinthre">
    <div class="friendlink">
      <ul>
        <li><a href="#"><img src="{% static '/images/fridlingk1.jpg' %}" alt="" title="" />苏州新海宜通信科技</a></li>
        <li><a href="#"><img src="{% static '/images/fridlingk2.jpg' %}" alt="" title="" />中大集团</a></li>
        <li><a href="#"><img src="{% static '/images/fridlingk3.jpg' %}" alt="" title="" />壳牌喜力爱车保养中心</a></li>
      </ul>
      <span class="qukmore_four"><a href="#">更多 &gt;&gt;</a></span> </div>
  </div>
</div>
    <script>
$(document).ready(function()
{
 $(".slvh").each(function(){
 var maxwidth=28;
 if($(this).text().length>maxwidth){
 $(this).text($(this).text().substring(0,maxwidth));
 $(this).html($(this).html()+' ...');
 } }); });

$(document).ready(function()
{
 $(".ywzsdes").each(function(){
 var maxwidth=140;
 if($(this).text().length>maxwidth){
 $(this).text($(this).text().substring(0,maxwidth));
 $(this).html($(this).html()+' ...');
 } }); });
    </script>

{% endblock %}