{% extends "base.html" %}
{% load staticfiles %}
{% block title %}安远-坐享脐橙网-脐橙批发{% endblock %}
{% block content %}
<div class="container">
  <div class="nav">
      <a href="{% url 'home' %}">首页</a>
      &gt;
      <a href="{% url 'sell_info:sell_info_page' %}">脐橙批发</a></div>
  <div class="con_jxinf">
    <div class="title_pifa">
      <div class="clear"></div>
    </div>
    <div class="detail">
      <div class="search_list">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_list">
          <tr>
            <td width="135"><img src="{% static 'images/pro2.jpg' %}" width="117" height="117"></td>
            <td valign="top" width="725"><div class="title_car"><a href="#" class="name">南京大有</a></div>
              <div class="conpname" style="float: left;width:100%;">南京大有4s保养快修店</div>
              <div class="adress"style="float: left;width:40%;">地址：南京市江宁区双龙大道180号  221400</div>
              <div class="adress"style="float: left;width:40%;">地址：南京市江宁区双龙大道180号  221400</div>
              <div class="adress"style="float: left;width:40%;">地址：南京市江宁区双龙大道180号  221400</div>
              <div class="contapho"style="float: left;width:40%;">电话： 025-87654765</div>
              <div class="contapho"style="float: left;width:40%;">电话： 025-87654765</div>
              <div class="contapho"style="float: left;width:40%;">电话： 025-87654765</div>
            </td>
            <td align="right"><a href="#" class="green_a">查看详情>></a></td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_list">
          <tr>
            <td width="135"><img src="{% static 'images/pro4.jpg' %}" width="117" height="117"></td>
            <td valign="top" width="725"><div class="title_car"><a href="#" class="name">南京大有</a></div>
              <div class="conpname">南京大有4s保养快修店</div>
              <div class="adress">地址：南京市江宁区双龙大道180号  221400</div>
              <div class="contapho">电话： 025-87654765</div></td>
            <td align="right"><a href="#" class="green_a">查看详情>></a></td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_list">
          <tr>
            <td width="135"><img src="{% static 'images/pro3.jpg' %}" width="117" height="117"></td>
            <td valign="top" width="725"><div class="title_car"><a href="#" class="name">南京大有</a></div>
              <div class="conpname">南京大有4s保养快修店</div>
              <div class="adress">地址：南京市江宁区双龙大道180号  221400</div>
              <div class="contapho">电话： 025-87654765</div></td>
            <td align="right"><a href="#" class="green_a">查看详情>></a></td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_list">
          <tr>
            <td width="135"><img src="{% static 'images/pro2.jpg' %}" width="117" height="117"></td>
            <td valign="top" width="725"><div class="title_car"><a href="#" class="name">南京大有</a></div>
              <div class="conpname">南京大有4s保养快修店</div>
              <div class="adress">地址：南京市江宁区双龙大道180号  221400</div>
              <div class="contapho">电话： 025-87654765</div></td>
            <td align="right"><a href="#" class="green_a">查看详情>></a></td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_list">
          <tr>
            <td width="135"><img src="{% static 'images/pro4.jpg' %}" width="117" height="117"></td>
            <td valign="top" width="725"><div class="title_car"><a href="#" class="name">南京大有</a></div>
              <div class="conpname">南京大有4s保养快修店</div>
              <div class="adress">地址：南京市江宁区双龙大道180号  221400</div>
              <div class="contapho">电话： 025-87654765</div></td>
            <td align="right"><a href="#" class="green_a">查看详情>></a></td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_list">
          <tr>
            <td width="135"><img src="{% static 'images/pro4.jpg' %}" width="117" height="117"></td>
            <td valign="top" width="725"><div class="title_car"><a href="#" class="name">南京大有</a></div>
              <div class="conpname">南京大有4s保养快修店</div>
              <div class="adress">地址：南京市江宁区双龙大道180号  221400</div>
              <div class="contapho">电话： 025-87654765</div></td>
            <td align="right"><a href="#" class="green_a">查看详情>></a></td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_list">
          <tr>
            <td width="135"><img src="{% static 'images/pro2.jpg' %}" width="117" height="117"></td>
            <td valign="top" width="725"><div class="title_car"><a href="#" class="name">南京大有</a></div>
              <div class="conpname">南京大有4s保养快修店</div>
              <div class="adress">地址：南京市江宁区双龙大道180号  221400</div>
              <div class="contapho">电话： 025-87654765</div></td>
            <td align="right"><a href="#" class="green_a">查看详情>></a></td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_list">
          <tr>
            <td width="135"><img src="{% static 'images/pro4.jpg' %}" width="117" height="117"></td>
            <td valign="top" width="725"><div class="title_car"><a href="#" class="name">南京大有</a></div>
              <div class="conpname">南京大有4s保养快修店</div>
              <div class="adress">地址：南京市江宁区双龙大道180号  221400</div>
              <div class="contapho">电话： 025-87654765</div></td>
            <td align="right"><a href="#" class="green_a">查看详情>></a></td>
          </tr>
        </table>
      </div>
      <table cellspacing="0" cellpadding="0" border="0" width="100%"  >
        <tbody>
          <tr>
            <td>&nbsp;</td>
            <td align="right"><ul class="page-nav">
                <li class="curr-page"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>...</li>
                <li> <a href="#" class="arr_nexr">下一页</a> </li>
              </ul></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}